<!DOCTYPE html>
<html lang="en" data-cookies-popup="false">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Title -->
<title>RapidRec</title>

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="/styles/styles.css" />

<!-- CSS Base -->
<link id="theme" rel="stylesheet" href="/styles/theme-classic.css" />
<!--<link id="theme" rel="stylesheet" href="/styles/theme-energy.css" />-->

</head>

<body>

<!-- Loader -->
<div id="page-loader"><svg class="loader-1 loader-primary" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="absolute fullwidth transparent">
	
	<!-- Navigation Bar -->
	<div id="nav-bar">

		<!-- Logo -->
		<!--<a class="logo-wrapper" href="index.html">
			<img class="logo logo-dark" src="assets/img/logo-dark.png" alt="Okno">
		</a>-->
		<nav class="module-group right">
			<!-- Primary Menu -->
			<div class="module menu left">
				<ul id="nav-primary" class="nav nav-primary">
					<li><a href="/index">Home</a></li>
					<% if (user_id) { %>
					<li><a href="/user/<%= user_id %>/profile">Profile</a></li>
					<li><a class="logout_button">Sign Out</a></li>
					<%  } else { %>
					<li><a class="register_button" data-toggle="modal" data-target="#register-modal">Sign Up</a></li>
					<li><a class="login_button" data-toggle="modal" data-target="#login-modal">Sign In</a></li>
					<% } %>
					
				</ul>
			</div>
		</nav>
	</div>
</header>
<!-- Header / End -->

<!-- Page Title -->
<div id="page-title" class="page-title page-title-1 bg-info">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<h1 class="event_title"></h1>
			</div>
		</div>
	</div>
</div>
<!-- Page Title / End -->

<!-- Content -->
<div id="content">

	<section>

		<div class="container">
			<div class="row">

				<!-- left Sidebar -->
				<div class="sidebar col-md-3 clearfix">
					<div class="widget">
						<% if (info.users.every(someUser => { %>%>
                		<%  return (someUser.partUserId !== user_id) %>
                		<%   })) { %>
						<button type="submit" class="btn btn-primary btn-sm  btn-block" id= "joinGame"><span>Join Game</span></button>
							<div id= "joinToggle" style="display: none">
								<label>
									<input type="checkbox" class="join_event_equipment"></input>Bring a basketball?<span class="pull-right"><img src="/img/32basketball.png" class="basketball" width="24px" height="24px"></span>
								</label>
								<button type="button" class="btn btn-primary btn-sm  btn-block join_event_submit_button">Confirm</button>
							</div>

						<% } else {%>
						<button type="submit" class="btn btn-primary btn-sm  btn-block" id= "dropGame"><span>Drop Game</span></button>
						<% } %>
					</div>
					<!-- Widget - Recent posts -->
					<div class="widget widget-recent-posts">
						<h6 class="text-uppercase text-muted">Game Info</h6>
						<ul class="list-posts" id="event_details">
							<li>
								<a>Location</a>
								<span class="event_location"></span>
							</li>
							<li>
								<a>Start time</a>
								<span class="event_start_time"></span>
							</li>
							<li>
								<a>End time</a>
								<span class="event_end_time"></span>
							</li>
							<li>
								<a>Players Needed</a>
								<span class="number_of_players"></span>
							</li>
							<li>
								<a>Description</a>
								<span class="description"></span>
							</li>
						</ul>
					</div>
				</div>

				<!-- Content -->
				<div class="content col-md-6">
					<!--post-->
					<div class="testimonial testimonial-primary testimonial-2">
								<div class="quote">
									<p></p>
								</div>
								<div class="author with-image">
									<br />
									<img src="/img/avatars/avatar_sport_girl.png" alt="">
									<div class="name">Name</div>
									<span class="text-muted"></span>
								</div>
					</div>
					<!--comment-->
					<div class="col-md-8 pull-right">
						<div class="testimonial testimonial-2">
								<div class="quote">
									<p></p>
								</div>
								<div class="author with-image">
									<br />
									<img src="/img/avatars/avatar_sport_girl.png" alt="">
									<div class="name">Name</div>
									<span class="text-muted"></span>
								</div>
						</div>
					</div>

				</div>

				<!-- right Sidebar -->
				<div class="sidebar col-md-3 clearfix">

					<!-- Widget  -->
					<div class="widget widget-newsletter">
						<h6 class="text-uppercase">Player List</h6>
						
						<div class="list-group">
							<% if (info.users.length) { %>
							<% info.users.forEach((user) => { %>
							
							<button class="btn-warning btn btn-sm  btn-block">
								<span class="pull-right">
								<% if (user.equipment) { %>
									<img src="/img/32basketball.png" class="basketball" width="24px" height="24px">
								<% } %>
								</span>
								<span><%= (user.first_name + ' ' + user.last_name)%></span>
							</button>
							<% }); %>
							<% } %>
            			</div>
					</div>

					<!-- Widget - Twitter -->
					
					<!-- Widget - Portfolio -->
					
				</div>

			</div>
		</div>

	</section>

</div>
<!-- Content / End -->

<!-- Footer -->

<!-- Footer / End -->


<!-- JS Libraries -->
<script src="/vendor/js/jquery-1.12.3.min.js"></script>

<!-- JS Plugins -->
<script src="/scripts/plugins.js"></script>

<!-- JS Core -->
<script src="/scripts/core.js"></script>

<script src="/scripts/register.js"></script>
<script src="/scripts/login.js"></script>

<script src="/scripts/postmessage.js"></script>
<script src="/scripts/event.js"></script>
<script src="/scripts/eventjoin.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/en-ca.js"></script>
<script>
    $(() => {
      loadPage(<%= game_id %>);
    });
  </script>
  <script>
  const myId = <%= game_id %>;
  </script>
  <script>
  const yourId = <%= game_id %>;
  </script>
</body>

</html>
