<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapidRec</title>


    <!-- used in scripts/add_friend.js file (this makes data available in the dom for available use)-->
    <meta name='urlId' content='<%= urlId %>'>
    <meta name='firstName' content='<%= profile.user_games.user.first_name %>'>
    <meta name='lastName' content='<%= profile.user_games.user.last_name %>'>
    <meta name='session_id' content='<%= seshId %>'>
    <meta name='friends_array' content='<%= friendsArr %>'>
    <meta name='session' content='<%= session %>'>

    <link href="http://localhost:8080/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
       <link href="http://localhost:8080/vendor/jquery.simple-dtpicker.css" rel="stylesheet" />
    <link href="http://localhost:8080/vendor/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="http://localhost:8080/styles/style.css" rel="stylesheet">
    <link href="http://localhost:8080/styles/default.css" rel="stylesheet">
    <link href="http://localhost:8080/styles/custom.css" rel="stylesheet">
    <!-- <link href="styles/reset.css" rel="stylesheet"> -->




    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">

    <style>

      div.gamesRoute:hover, div.gamesRoute:active {
        box-shadow: 10px 10px 5px #888888;
        background-color: #baeaff;
      }

    </style>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- nav bar -->
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" id="navbar-profile" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/index">RapidRec</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                              <li><a href="/user/ <%= seshId %> /profile" >Profile Page</a></li>
                              <li><a href="/user/ <%= seshId %> /edit" >Edit Profile</a></li>
                              <li><a class="logout_button" >Log Out</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="container">
        <!--left side pic etc..-->
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="/uploads/<%= profile.user_games.user.image %>" width="300px" height="300px">
                        </div>
                        <div class="media-body">

                          <% if (seshId != urlId) { %>
                            <form>
                              <div class="form-group">
                                <input type="submit" class="btn add-friend-submit-button" value="Add Friend">
                              </div>
                            </form>
                          <% } %>

                            <hr>
                            <h3><strong>Friends</strong></h3>
                            <span class="validation" id="add_friend_popup"></span>
                            <ul>
                            <% for (let friend of profile.user_friends.friends) { %>
                                <li><a href="/user/ <%= friend.id %> /profile" ><%= friend.first_name %> <%= friend.last_name %></a></li>
                                <img class="media-object img-circle"  src="http://localhost:8080/uploads/<%= friend.image %>"  width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            <% } %>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <h2><strong><%= profile.user_games.user.first_name %> <%= profile.user_games.user.last_name %></strong></h2>
            <hr>

            <!-- Todays Events. -->
            <% if (todays_games.length) { %>
              <h2>Todays Events:</h2>
              <% for (let game of todays_games) { %>
              <div onClick="location.href='/event/<%= game.id %>'">
                <div class="panel panel-default">
                <div class="gamesRoute">
                    <div class="panel-body">
                        <div class="pull-left">
                                <img class="media-object img-circle" src="/img/basketball.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </div>

                        <h4 class="event_title"><strong><%= game.title %></strong> <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
                        <hr>
                        <div class="post-content" >
                          <a href="#" style="text-decoration:none;">
                          <p><strong>Location: </strong> <%= game.location %></p>
                          <p><strong>Date/Time: </strong><%= game.start_time %></p>
                          </a>
                        </div>
                        <hr>
                    </div>
                  </div>
                  </div>
                </div>
              <% } %>
            <% } %>

            <!-- Future Events. -->
            <% if (upcoming_games.length) { %>
              <h2>Future Events:</h2>
              <% for (let game of upcoming_games) { %>
              <div onClick="location.href='/event/<%= game.id %>'">
                  <div class="panel panel-default">
                    <div class="gamesRoute">
                      <div class="panel-body">
                          <div class="pull-left">
                                  <img class="media-object img-circle" src="/img/basketball.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                          </div>

                          <h4 class="event_title"><strong><%= game.title %></strong></a> <small><small><a href="#" style="text-decoration:none; color:grey;"></a></small></small></h4>
                          <hr>
                          <div class="post-content" >
                            <a href="#" style="text-decoration:none;">
                            <p><strong>Location: </strong> <%= game.location %></p>
                            <p><strong>Date/Time: </strong><%= game.start_time %></p>
                            </a>
                          </div>
                          <hr>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>

            <!-- Past Events -->
            <% if (past_games.length) { %>
              <h2>Past Events:</h2>
                <% for (let game of past_games) { %>

                  <div onClick="location.href='/event/<%= game.id %>'">
                    <div class="panel panel-default">
                      <div class="gamesRoute">
                      <div class="panel-body">
                        <div class="pull-left">
                          <img class="media-object img-circle" src="/img/basketball.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </div>

                        <h4 class="event_title"><strong><%= game.title %></strong></a> <small><small><a href="#" style="text-decoration:none; color:grey;"></a></small></small></h4>
                        <hr>

                        <div class="post-content" >
                          <a href="#" style="text-decoration:none;">
                            <p><strong>Location: </strong><%= game.location %></p>
                            <p><strong>Date/Time: </strong><%= game.start_time %></p>
                          </a>
                        </div>

                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>


        </div>

      </div>
  </div>
     </div>
<!-- Core JavaScript Files -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://localhost:8080/vendor/bootstrap.min.js"></script>
  <script src="http://localhost:8080/vendor/jquery.easing.min.js"></script>
  <script src="http://localhost:8080/vendor/jquery.scrollTo.js"></script>
  <script src="http://localhost:8080/vendor/jquery.js"></script>
  <script src="http://localhost:8080/vendor/jquery.simple-dtpicker.js"></script>
  <script src="http://localhost:8080/vendor/wow.min.js"></script>
  <script src="http://localhost:8080/scripts/googleApi.js"></script>
  <script src="http://localhost:8080/scripts/main.js"></script>
  <script src="http://localhost:8080/scripts/login.js"></script>
  <script src="http://localhost:8080/scripts/register.js"></script>
  <script src="/scripts/create_game.js"></script>
  <script src="/scripts/add_friend.js"></script>

</body>

</html>
