<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapidRec</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
</head>
<body>
<!-- nav bar -->
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" id="navbar-profile" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/index">RapidRec</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/<%= id %>/edit" >Edit Profile</a></li>
                                 <li><a class="logout_button" >Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="container">
        <!--left side pic etc..-->
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="http://localhost:8080/uploads/<%= profile.user_games.user.image %>" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <button class="add_friend_button" type="">Add Friend</button>
                            <hr>
                            <h3><strong>Friends</strong></h3>
                            <ul>
                            <% for (let friend of profile.user_friends.friends) { %>
                                <li><%= friend.first_name %> <%= friend.last_name %></li>
                            <% } %>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <h2><strong><%= profile.user_games.user.first_name %> <%= profile.user_games.user.last_name %></strong></h2>
            <hr>
            <!-- Upcoming Events. -->
            <h2>Upcoming Events:</h2>
            <% for (let game of upcoming_games) { %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                            <img class="media-object img-circle" src="/img/basketball.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                    </div>

                    <h4 class="event_title"><strong><%= game.title %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
                    <hr>
                    <div class="post-content" >
                      <a href="#" style="text-decoration:none;">
                      <p><strong>Location: </strong> <%= game.location %></p>
                      <p><strong>Date/Time: </strong><%= game.start_time %></p>
                      </a>
                    </div>
                    <hr>
                </div>
            </div>
            <% } %>
            <!-- Past Events -->
            <h2>Past Events:</h2>
              <% for (let game of past_games) { %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                          <img class="media-object img-circle" src="/img/basketball.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                      </div>
                      <h4 class="event_title"><strong><%= game.title %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i><%= "42" %> days ago</i></a></small></small></h4>
                      <hr>
                      <div class="post-content" >
                        <a href="#" style="text-decoration:none;">
                        <p><strong>Location: </strong><%= game.location %></p>
                        <p><strong>Date/Time: </strong><%= game.start_time %></p>
                        </a>
                      </div>
                      <hr>
                  </div>
                </div>
            <% } %>


        </div>

      </div>
  </div>
     </div>

    <script src="/scripts/login.js"></script>

</body>

</html>
