<!DOCTYPE html>
<html lang="en" data-cookies-popup="false">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Title -->
<title>RapidRec</title>

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="/styles/styles.css" />

<!-- CSS Base -->
<link id="theme" rel="stylesheet" href="/styles/theme-classic.css" />

</head>

<body>

<!-- Loader -->
<div id="page-loader"><svg class="loader-1 loader-primary" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="absolute fullwidth transparent">
	
	<!-- Navigation Bar -->
	<div id="nav-bar">
		<nav class="module-group right">
			<div class="module menu left">
				<ul id="nav-primary" class="nav nav-primary">
					<li><a href="/index">Home</a></li>
					<li><a href="/user/<%= id %>/profile">Profile</a></li>
					<li><a href="/user/<%= id %>/edit">Profile Edit</a></li>
					<li><a class="logout_button">Sign Out</a></li>
					
				</ul>
			</div>
		</nav>
	</div>

	<!-- Notification Bar -->
	<div id="notification-bar"></div>

	<!-- Search Bar -->


</header>
<!-- Header / End -->

<!-- Page Title -->
<div id="page-title" class="page-title page-title-1 bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><%= profile.user_games.user.first_name %> <%= profile.user_games.user.last_name %></h1>
			</div>
		</div>
	</div>
</div>
<!-- Page Title / End -->

<!-- Content -->
<div id="content">
	<section>
		<div class="container">
			<div class="row">
				<!-- Sidebar #2 left-->
				<div class="sidebar col-md-3 clearfix">

					<!-- Widget - Newsletter -->
					<div class="widget widget-newsletter">
						<h6 class="text-uppercase">About Me</h6>
						<img class="img-circle mb-50" src='/img/avatars/avatar_hoody_guy.png' alt="">
						<button type="submit" class="btn btn-primary btn-sm  btn-block"><span>Update avatar picture</span></button>
						
					</div>

					<!-- Widget -->
					<div class="widget">
						<button type="submit" class="btn btn-warning btn-sm btn-block add_friend_button"><span>Add Friend</span></button>
					</div>
					
					<!-- Widget - Recent posts -->
					<div class="widget widget-recent-posts">
						<h6 class="text-uppercase text-muted">Friend List</h6>
						
						<ul class="list-posts">
							<% for (let friend of profile.user_friends.friends) { %>
							<li><a href=""><%= friend.first_name %> <%= friend.last_name %></a></li>
                            <% } %>
							<!--need to delete after add friend function working-->
							<li>
								<a href=""></a>
							</li>
						</ul>
					</div>
				</div>

			
				<!-- Content -->
				<div class="content col-md-9">
					<!-- Section / Simple -->
					<h3 class="text-center mb-20">Upcoming Games</h3>
					<hr>
					<section class="bg-primary dark">
						<div class="container">
								<div class="col-lg-5 col-md-6">
									<% for (let game of upcoming_games) { %>
									<div class="testimonial testimonial-1">
										<div class="quote">
											<p><strong>Location: </strong> <%= game.location %></p>
                      						<p><strong>Date/Time: </strong><%= game.start_time %></p>
										</div>
										<div class="author">
											<span class="name text-uppercase"><%= game.title %></span>
										</div>
									</div>
									<% } %>
								</div>
						</div>
					</section>
					<br />
					<!-- Past Events -->
					<h3 class="text-center mb-20">Past Games</h3>
					<hr>
					<% for (let game of past_games) { %>
						<div class="testimonial testimonial-1">
							<div class="quote">
								<p><strong>Location: </strong> <%= game.location %></p>
                      			<p><strong>Date/Time: </strong><%= game.start_time %></p>
							</div>
							<div class="author">
								<span class="name text-uppercase"><%= game.title %></span>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Content / End -->

<!-- JS Libraries -->
<script src="/vendor/js/jquery-1.12.3.min.js"></script>

<!-- JS Plugins -->
<script src="/scripts/plugins.js"></script>

<!-- JS Core -->
<script src="/scripts/core.js"></script>

<script src="/scripts/register.js"></script>
<script src="/scripts/login.js"></script>
</body>

</html>
